.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------------------------------------------------*/

body {

  font-size: 16px;
  line-height: 1.5;
  background-image: url("images/whteGeometric.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
height: 100%;
}
.user-list{
  display: flex;
  justify-content: center;
}

.user-card{
  border: 2px solid black;
  padding: 20px;
  background-color: lightgrey;
  width: 50%;
  margin: 30px 0 30px 0;

}
